*{
    text-align: center;
    margin: 0%;

}

button, input {
    outline: none;
}

body{
    background-color: #000000;
}

#container{
    margin:25px 0 25px 0;
}

header h3{
    background-image: linear-gradient(#3f4447,#5d6578,#3f4447);
    padding: 20px 0;
    color: #FFFFFE;
    font-size: x-large;
    margin: 0%;
}

h5{
    background-color: #ffffff;
    border: none;
    padding: 20px 0 20px 0;
    font-size: 20px;
    margin: 0%;
}

#have-rs{
    margin-left: 11px;
    background-color: #FFFfff;
    border: 1px solid #e4e2e2;
    border-radius: 29px;
    font-weight: bold;
    text-align: center;
    width: 57px;
    height: 34px;
    font-size: large;
}


h4{
   background-color: #efe2cc;
   border: none;
   padding: 50px;
   margin: 0;
   font-size: x-large;

}

#price-btn1 {
    width: 60px;
    

}
#price-btn2{
    width: 60px;
}

#price-btn3 {
    width: 60px;
    

}

.fruit-div{
    background: #FFFFFE;
    border-radius: 0 0 5px 5px;

}

#fruits p{
    padding: 6px 52px;
    font-size: x-large;
    color: #f5deb3;
    background: #346e34;
    border-radius: 5px 5px 0 0;
}

#fruit-div > div{
    margin: 10px 0 10px 0;
}

#total-rupees input{
    margin-left: 11px;
    background-color:  #efe2cc;
    border: none;
    color: #ed462f;
    font-size: -webkit-xxx-large;
    width: 65px;
    font-family: auto;
}

#fruits{
    background-image: linear-gradient(#3f4447,#5d6578,#3f4447);
    margin: 0%;

}

.btns{
    border: 1px solid #000000;
    border-radius: 11px;
    margin: 10px;
    display: inline-flex;
    border-left: none;
    border-right: none;
}

.btns button{
    margin: 0%;
}

.minus-btn {
    border-radius: 11px 0 0 11px;
    padding: 5px 9px;
    color: #FFFFFE;
    font-size: 20px;
    background-image: linear-gradient(#3f4447,#5d6578,#3f4447);
    border: none;
}

.plus-btn {
    border-radius: 0 11px 11px 0;
    color: #FFFFFE;
    padding: 5px 9px;
    font-size: 17px;
    background-image: linear-gradient(#3f4447,#5d6578,#3f4447);
    border: none;
}

#fruits > div{
    border: 1px solid black;
    margin: 30px;
    display: inline-block;
    border-radius: 5px;
    border: none;
}

 section > div{
    border: 1px solid white;
}

img{
    width: 79px;
    height: 79px;

}

footer{
    background-color: #FFFFFF;
    padding: 19px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
    margin: 0;
}
